@model PMTool.Web.Pages.Projects.DetailsModel
@{
    <div class="card shadow-sm border-0" style="width: 15rem;">
        <div class="card-body text-center">
            <i class="bi bi-person-plus fs-3 text-primary"></i>
            <h6 class="mt-2">Add User</h6>

            <a asp-controller="User" asp-action="Create"
                   class="btn btn-sm btn-outline-primary mt-2">
                Create
            </a>
        </div>
    </div>



}
